body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url("DSC03002-Edit.jpg(resize).jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-custom {
    background-color: #202f38;
    height: 100px;
    display: flex;;
}

#navbar-logo {
    height: 60px;
    width: 160px;
    margin-right: 10px;
}

.navbar-text {
    color: white;
}

.navbar-search{
    margin-left: auto;
    margin-right: 20px;
    width: 170px;
}

.navbar-search-button {
    background-color: #FF6B6B;
    width: 80px;
}

.navbar-font-size {
    font-size: 18px;
}

.navbar-logo-text {
    margin-bottom: 0;
    line-height: 1.1;
}

.navbar-logo-subtext {
    margin-top: 2px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.1;
}